*{
    padding: none;
    text-align: center;
}
body{
    background-color: black;
}
.display{
   margin-top: 20%;
  
}

#number{
    
    font-size: 20px;
    border-radius: 5%;
   
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color:rgb(28, 26, 26);
    
}
.btn{
    
    cursor: pointer;
    font-size: 18px;
    border-color: #0000ff;
    color: #0000ff;
    margin-left: 10px;
    background-color: #00000000;
    border-radius: 50%;
}
#calc{
    position: relative;
    bottom:4px;
    margin-left: 10px;
    width: 70px;
    padding: 8px;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
#output{
    font-size:50px;
    height: 40px;
    color: #fff;
    margin-top: 10%;
}